.header__auth-btn {
    margin-left: auto;
    color: white;
    background-color: transparent;
    border: none;
    padding: 0;
    padding-bottom: 4px;
    padding-right: 3px;
    padding-left: 21px;
    background-image: url(/src/img/header/__auth-btn/header__auth-btn-arrow.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: 6px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
}